body {
    background-color: whitesmoke;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(165, 6, 6);
}

.nav li {
    float: right;
}

.nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
    color: white;
}

.nav li a:hover {
    background-color: maroon;
}

.active-navpage {
    background-color: maroon;
}

.grid-container {
    display: grid;
    grid-template-columns: 35% 35% 30%;
    grid-gap: 10px;
}

.grid-item {
    background-color: white;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.navmenu {
    grid-column: 1/ span 3;
    grid-row: 1;
}



.footer {
    background-color: rgb(165, 6, 6)
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.centered {

    display: block;
    margin: 10px auto;
    width: 70%;
    }

.table{
    grid-column: 1;
    grid-row: 3;
}

h2 {
    font-family: "superior-title", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "superior-title", serif;
    font-weight: 700;
    font-style: normal;
}

p {
    font-family: "superior-title", serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-family: "superior-title", serif;
    font-weight: 400;
    font-style: normal;
}